<div class="row">
    <div class="col-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">Elevation</div>
                    <div class="col-8 text-right">{{info.elevation}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">Azimuth</div>
                    <div class="col-8 text-right">{{info.azimuth}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">Height (km)</div>
                    <div class="col-8 text-right">{{info.height}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">Velocity (km/s)</div>
                    <div class="col-8 text-right">{{info.velocity}}</div>
                </div>
            </div>
        </div>
    </div>
</div>