<div>
    <table class="table table-dark">
        <tbody>
            <tr>
                <td><strong>name</strong></td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td><strong>_id</strong></td>
                <td>{{_id}}</td>
            </tr>
            <tr>
                <td><strong>date</strong></td>
                <td>{{date}}</td>
            </tr>
            <tr>
                <td><strong>info.lng</strong></td>
                <td>{{info.lng}}</td>
            </tr>
            <tr>
                <td><strong>info.lat</strong></td>
                <td>{{info.lat}}</td>
            </tr>
            <tr>
                <td><strong>info.elevation</strong> </td>
                <td>{{info.elevation}}</td>
            </tr>
            <tr>
                <td><strong>info.azimuth</strong></td>
                <td>{{info.azimuth}}</td>
            </tr>
            <tr>
                <td><strong>info.range</strong> </td>
                <td>{{info.range}}</td>
            </tr>
            <tr>
                <td><strong>info.height</strong></td>
                <td>{{info.height}}</td>
            </tr>
            <tr>
                <td><strong>info.velocity</strong> </td>
                <td>{{info.velocity}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success btn-block" id="addSatellite" data-satelliteId="{{satelliteId}}"><i class="fa fa-plus"></i> Track Satellite</button>
</div>