<div class="table-wrapper">


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Elevation</th>
                <th scope="col">Azimuth</th>
                <th scope="col">Height (km)</th>
                <th scope="col">Velocity (km/s)</th>
                <th scope="col">Location Image</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each objects}}
            <tr>
                <th scope="row">{{satelliteId}}</th>
                <td>{{name}}</td>
                <td>{{info.lat}}</td>
                <td>{{info.lng}}</td>
                <td>{{info.elevation}}</td>
                <td>{{info.azimuth}}</td>
                <td>{{info.height}}</td>
                <td>{{info.velocity}}</td>
                <td><a target="_new" href="https://api.nasa.gov/planetary/earth/imagery?lon={{info.lng}}&lat={{info.lat}}&api_key=DEMO_KEY&dim=0.5">Show Image</a></td>
                <td>
                    <button class="btn btn-secondary btn-sm">Enable</button>
                    <button class="btn btn-secondary btn-sm">Follow</button>
                    <button class="btn btn-secondary btn-sm">Remove</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>