<div id="EngineUI" class="overlay">
    <div class="d-flex flex-column bd-highlight fixed-bottom divBackground" style="pointer-events: all;">

        <!-- Tabs -->
        <ul class="nav nav-tabs" id="tabList" role="tablist">

            <li class="nav-item ml-auto mr-auto">
                <a class="nav-link no-trigger" id="loaderItem" style="font-weight: bold;"></a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link no-trigger" href="https://nodejs.org/en/" target="_new">Made with <i class="fab fa-node-js" style="color:green"></i> on <i class="fas fa-globe-europe" style="color:darkblue"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link no-trigger" href="https://github.com/dfrankes/SatelliteMap" target="_new">Github <i class="fab fa-github" style="color:black"></i></a>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content h-50" id="tabContent">

        </div>
    </div>
</div>